#add-note{
  p{
    color: black;
  }
  .modal-content{
    text-decoration:none;
    color:#000;
    background: $note-yellow;
    display:block;
    height:40em;
    width:40em;
    padding:1em;
  }

  textarea { resize: none; }
  input { font-weight: bold; }

  input, textarea, input:focus, textarea:focus{
    background: $note-yellow;
    border-color: $note-yellow;
    box-shadow: 0 0 5px $note-yellow;
    font-size: 180%;
  }
}
