$note-color: #ffc;
$panel-bg: #EDE139;
$input-border-focus: $note-color;
$modal-footer-border-color: $note-color;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "notes";
@import "add_note";
@font-face {
  font-family: "Reenie Beanie";
  src: url("/assets/ReenieBeanie.ttf") format("truetype");
}

body{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:100%;
  background:#666;
  color:#fff;
}
