/*
  *= require font-awesome
*/

$note-yellow: #ffc;
$note-blue:#1DB6F2;
$note-red:#F2361D;
$note-purple:#E88BD7;
$panel-bg: #EDE139;
$input-border-focus: $note-yellow;
$modal-footer-border-color: $note-yellow;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "notes";
@import "add_note";
@import "font-awesome";
@font-face {
  font-family: "Nothing You Could Do";
  src: font-url("NothingYouCouldDo.ttf") format("truetype");
}

body{
  font-family:"Nothing You Could Do",arial,sans-serif;
  font-size:100%;
  background:#666;
  color:#fff;
}
